In [1]:
import pandas as pd
df = pd.read_csv('oasst1-train.csv')
df.head()

,message_id,parent_id,user_id,created_date,text,role,lang,review_count,review_result,deleted,rank,synthetic,model_name,detoxify,message_tree_id,tree_state,emojis,labels
0,6ab24d72-0181-4594-a9cd-deaf170242fb,NaN,c3fe8c76-fc30-4fa7-b7f8-c492f5967d18,2023-02-05T14:23:50.983374+00:00,Can you write a short introduction about the r...,prompter,en,3.0,True,False,NaN,False,NaN,"{'toxicity': 0.00044308538781479, 'severe_toxi...",6ab24d72-0181-4594-a9cd-deaf170242fb,ready_for_export,"{'name': array(['+1', '_skip_reply', '_skip_ra...","{'name': array(['spam', 'lang_mismatch', 'pii'..."
1,c8e83833-ecbc-44fe-b6db-735228c25a1c,6ab24d72-0181-4594-a9cd-deaf170242fb,2c96e467-66f0-4be7-9693-bda51356a424,2023-02-06T13:50:44.657083+00:00,"""Monopsony"" refers to a market structure where...",assistant,en,3.0,True,False,0.0,False,NaN,"{'toxicity': 0.00026396565954200923, 'severe_t...",6ab24d72-0181-4594-a9cd-deaf170242fb,ready_for_export,"{'name': array(['+1', '_skip_labeling'], dtype...","{'name': array(['spam', 'fails_task', 'lang_mi..."
2,6708c47f-05c9-4346-b3d2-40b2bd24fde4,c8e83833-ecbc-44fe-b6db-735228c25a1c,2c96e467-66f0-4be7-9693-bda51356a424,2023-02-06T18:48:49.391686+00:00,Now explain it to a dog,prompter,en,3.0,True,False,NaN,False,NaN,"{'toxicity': 0.03648477792739868, 'severe_toxi...",6ab24d72-0181-4594-a9cd-deaf170242fb,ready_for_export,NaN,"{'name': array(['spam', 'lang_mismatch', 'pii'..."
3,343ee2d4-87ae-41fd-a768-bdd65959dc4a,6ab24d72-0181-4594-a9cd-deaf170242fb,49ddcb0d-6588-43bd-858d-19c577f12e7b,2023-02-06T13:37:56.044680+00:00,Monopsony is a market structure in which there...,assistant,en,3.0,True,False,1.0,False,NaN,"{'toxicity': 0.0008866374846547842, 'severe_to...",6ab24d72-0181-4594-a9cd-deaf170242fb,ready_for_export,"{'name': array(['+1', '_skip_reply', '_skip_la...","{'name': array(['spam', 'fails_task', 'lang_mi..."
4,18145bf4-37fd-4ac0-80f5-6108b5f2b365,343ee2d4-87ae-41fd-a768-bdd65959dc4a,e10e99a0-38ac-4b07-bf5d-4427696e4e0d,2023-02-06T18:52:51.428543+00:00,How can one fight back when a monospony had be...,prompter,en,3.0,True,False,NaN,False,NaN,"{'toxicity': 0.0009362137061543763, 'severe_to...",6ab24d72-0181-4594-a9cd-deaf170242fb,ready_for_export,"{'name': array(['+1'], dtype=object), 'count':...","{'name': array(['spam', 'lang_mismatch', 'pii'..."

In [2]:
new_df = df.groupby('lang')
new_df

In [5]:
english_df = new_df.get_group('en')
english_df.size

44064

In [10]:
for lang,data in new_df:
  print(lang)

ar
ca
da
de
en
es
eu
fi
fr
hu
id
it
ja
ko
pl
pt-BR
ru
tr
uk-UA
vi
zh

In [13]:
new_df.count()

,message_id,parent_id,user_id,created_date,text,role,review_count,review_result,deleted,rank,synthetic,model_name,detoxify,message_tree_id,tree_state,emojis,labels
lang,,,,,,,,,,,,,,,,,
ar,16,12,16,16,16,16,16,16,16,12,16,0,0,16,16,15,16
ca,256,208,256,256,256,256,256,256,256,166,256,0,0,256,256,204,256
da,4,3,4,4,4,4,4,4,4,3,4,0,0,4,4,3,4
de,283,245,283,283,283,283,283,280,283,159,283,0,0,283,283,258,283
en,2448,2218,2448,2448,2448,2448,2448,2429,2448,1469,2448,0,2446,2448,2448,2194,2440
es,2874,2370,2874,2874,2874,2874,2874,2867,2874,1890,2874,0,2874,2874,2874,2563,2873
eu,20,15,20,20,20,20,20,20,20,15,20,0,0,20,20,13,20
fi,9,8,9,9,9,9,9,9,9,4,9,0,0,9,9,9,9
fr,94,80,94,94,94,94,94,92,94,54,94,0,94,94,94,80,94
hu,4,3,4,4,4,4,4,4,4,3,4,0,0,4,4,4,4
id,4,3,4,4,4,4,4,4,4,3,4,0,0,4,4,4,4
it,112,94,112,112,112,112,112,112,112,73,112,0,112,112,112,97,112
ja,24,22,24,24,24,24,24,24,24,13,24,0,0,24,24,18,24
ko,4,3,4,4,4,4,4,4,4,3,4,0,0,4,4,4,4
pl,84,74,84,84,84,84,84,83,84,43,84,0,0,84,84,76,84
pt-BR,37,32,37,37,37,37,37,37,37,20,37,0,0,37,37,35,37
ru,471,424,471,471,471,471,471,468,471,237,471,0,471,471,471,421,470
tr,4,3,4,4,4,4,4,4,4,3,4,0,0,4,4,2,4
uk-UA,20,17,20,20,20,20,20,20,20,11,20,0,0,20,20,6,20
vi,4,3,4,4,4,4,4,4,4,3,4,0,0,4,4,3,4
zh,210,190,210,210,210,210,210,210,210,106,210,0,0,210,210,164,210