In [1]:
import pandas as pd
df = pd.read_csv('oasst1-train.csv')
df.head()

,message_id,parent_id,user_id,created_date,text,role,lang,review_count,review_result,deleted,rank,synthetic,model_name,detoxify,message_tree_id,tree_state,emojis,labels
0,6ab24d72-0181-4594-a9cd-deaf170242fb,NaN,c3fe8c76-fc30-4fa7-b7f8-c492f5967d18,2023-02-05T14:23:50.983374+00:00,Can you write a short introduction about the r...,prompter,en,3,True,False,NaN,False,NaN,"{'toxicity': 0.00044308538781479, 'severe_toxi...",6ab24d72-0181-4594-a9cd-deaf170242fb,ready_for_export,"{'name': array(['+1', '_skip_reply', '_skip_ra...","{'name': array(['spam', 'lang_mismatch', 'pii'..."
1,c8e83833-ecbc-44fe-b6db-735228c25a1c,6ab24d72-0181-4594-a9cd-deaf170242fb,2c96e467-66f0-4be7-9693-bda51356a424,2023-02-06T13:50:44.657083+00:00,"""Monopsony"" refers to a market structure where...",assistant,en,3,True,False,0.0,False,NaN,"{'toxicity': 0.00026396565954200923, 'severe_t...",6ab24d72-0181-4594-a9cd-deaf170242fb,ready_for_export,"{'name': array(['+1', '_skip_labeling'], dtype...","{'name': array(['spam', 'fails_task', 'lang_mi..."
2,6708c47f-05c9-4346-b3d2-40b2bd24fde4,c8e83833-ecbc-44fe-b6db-735228c25a1c,2c96e467-66f0-4be7-9693-bda51356a424,2023-02-06T18:48:49.391686+00:00,Now explain it to a dog,prompter,en,3,True,False,NaN,False,NaN,"{'toxicity': 0.03648477792739868, 'severe_toxi...",6ab24d72-0181-4594-a9cd-deaf170242fb,ready_for_export,NaN,"{'name': array(['spam', 'lang_mismatch', 'pii'..."
3,343ee2d4-87ae-41fd-a768-bdd65959dc4a,6ab24d72-0181-4594-a9cd-deaf170242fb,49ddcb0d-6588-43bd-858d-19c577f12e7b,2023-02-06T13:37:56.044680+00:00,Monopsony is a market structure in which there...,assistant,en,3,True,False,1.0,False,NaN,"{'toxicity': 0.0008866374846547842, 'severe_to...",6ab24d72-0181-4594-a9cd-deaf170242fb,ready_for_export,"{'name': array(['+1', '_skip_reply', '_skip_la...","{'name': array(['spam', 'fails_task', 'lang_mi..."
4,18145bf4-37fd-4ac0-80f5-6108b5f2b365,343ee2d4-87ae-41fd-a768-bdd65959dc4a,e10e99a0-38ac-4b07-bf5d-4427696e4e0d,2023-02-06T18:52:51.428543+00:00,How can one fight back when a monospony had be...,prompter,en,3,True,False,NaN,False,NaN,"{'toxicity': 0.0009362137061543763, 'severe_to...",6ab24d72-0181-4594-a9cd-deaf170242fb,ready_for_export,"{'name': array(['+1'], dtype=object), 'count':...","{'name': array(['spam', 'lang_mismatch', 'pii'..."

In [2]:
new_df = df.groupby('lang')
new_df

In [3]:
english_df = new_df.get_group('en')
english_df.size

707094

In [4]:
for lang,data in new_df:
  print(lang)

ar
ca
cs
da
de
en
es
eu
fi
fr
hu
id
it
ja
ko
pl
pt-BR
ru
sv
th
tr
uk-UA
vi
zh

In [5]:
new_df.count()

,message_id,parent_id,user_id,created_date,text,role,review_count,review_result,deleted,rank,synthetic,model_name,detoxify,message_tree_id,tree_state,emojis,labels
lang,,,,,,,,,,,,,,,,,
ar,56,42,56,56,56,56,56,56,56,42,56,0,0,56,56,46,56
ca,1158,925,1158,1158,1158,1158,1158,1158,1158,780,1158,0,0,1158,1158,858,1158
cs,12,11,12,12,12,12,12,12,12,8,12,0,0,12,12,7,12
da,44,33,44,44,44,44,44,44,44,33,44,0,0,44,44,32,44
de,3050,2721,3050,3050,3050,3050,3050,3028,3050,1674,3050,0,0,3050,3050,2678,3042
en,39283,35801,39283,39283,39283,39283,39283,38934,39283,22043,39283,0,39266,39283,39283,32506,39163
es,22763,19046,22763,22763,22763,22763,22763,22631,22763,14621,22763,0,22761,22763,22763,20305,22710
eu,250,189,250,250,250,250,250,250,250,186,250,0,0,250,250,198,250
fi,18,16,18,18,18,18,18,18,18,8,18,0,0,18,18,17,18
fr,2474,2227,2474,2474,2474,2474,2474,2435,2474,1338,2474,0,2474,2474,2474,2041,2467
hu,75,59,75,75,75,75,75,75,75,49,75,0,0,75,75,62,75
id,12,9,12,12,12,12,12,12,12,9,12,0,0,12,12,12,12
it,554,443,554,554,554,554,554,554,554,379,554,0,554,554,554,502,554
ja,363,315,363,363,363,363,363,362,363,214,363,0,0,363,363,257,362
ko,24,19,24,24,24,24,24,24,24,15,24,0,0,24,24,19,24
pl,304,259,304,304,304,304,304,301,304,176,304,0,0,304,304,266,304
pt-BR,1165,1007,1165,1165,1165,1165,1165,1162,1165,665,1165,0,0,1165,1165,980,1165
ru,7242,6521,7242,7242,7242,7242,7242,7111,7242,3603,7242,0,7242,7242,7242,6520,7195
sv,1,1,1,1,1,1,1,1,1,0,1,0,0,1,1,1,1
th,1460,1303,1460,1460,1460,1460,1460,1459,1460,725,1460,0,0,1460,1460,1363,1460
tr,37,28,37,37,37,37,37,37,37,26,37,0,0,37,37,27,37
uk-UA,587,520,587,587,587,587,587,586,587,268,587,0,0,587,587,268,587
vi,191,154,191,191,191,191,191,191,191,130,191,0,0,191,191,153,191
zh,3314,2942,3314,3314,3314,3314,3314,3291,3314,1738,3314,0,0,3314,3314,2378,3312

In [7]:
eng_df = new_df.get_group('en')
eng_df.to_csv('eng_train.csv')